* {
    padding: 0;
    margin: 0;
}

main {
    width: 85vw;
    padding: 4%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    gap: 15px;
    flex-wrap: wrap;
    margin-left: 81px;
}

main section {
    width: 773px;
    gap: 54px 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

section article {

    width: 216px;
    margin: 0 0 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: transparent 1px solid;

}

section article:hover {
    border: #37268C 1px solid;
    cursor: pointer;
}

.category {
    background: #2E245E;
    width: 84px;
    height: 21px;
    color: white;
    margin-bottom: 12px;
}

.nomeItem {
    font-weight: bold;
    font-size: 18px;
    color: #292929;
    width: 190px;
    height: 47px;
}

.destricao {
    color: #242424;
    font-size: 14px;
    margin-bottom: 12px;
    height: 78px;
}

.price {
    color: #2E245E;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: semibold;
}

.adcCarrinho {
    color: #242424;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
    text-align: start;
    background: transparent;
}

.adcCarrinho:hover {
    color: #37268C;
}

form {
    box-sizing: border-box;
    display: flex;
    width: 347px;
}

.box {
    background: #F5F5F5;
    border: none;
    width: 251px;
    height: 49px;
    margin-bottom: 25px;
}

.bntPesquisar {
    background: #37268C;
    color: white;
    width: 96px;
    height: 50px;
    border: none;
}

.bntPesquisar:hover {
    background: #2b00fff6;
}

div .carrinho {
    background: #37268C;
    width: 347px;
    height: 50px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 42px;
    margin-top: 20px;
}


div .paragraph {
    font-size: 22px;
    color: #292929;
    line-height: 20px;
}

.carrinho {
    background: #37268C;
    width: 347px;
    height: 50px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 42px;
}



.paragraph {
    margin-bottom: -90px;
}

.adicionar {
    color: #242424;
    font-size: 14px;
}

aside {
    width: 28%;
    display: flex;
    flex-direction: column;
}

.position {
    background: #F5F5F5;
    width: 347px;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dentro_carrinho {
    display: flex;
    overflow-y: scroll;
    height: 200px;
    margin-top: 32px;
    width: 344px;
}


.dentro_carrinho::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.26);
    width: 5px;

}

.dentro_carrinho::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.ulCarrinho {
    list-style: none;
}

.imagem_dentro_carrinho {
    width: 88px;
    height: 67px;
    background: #F5F5F5;
}

.removeCar {
    margin-bottom: 31px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.ulCarrinho li {
    width: 308px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.ulCarrinho li .price {
    font-size: 14px;
    color: black;
}

.ulCarrinho ul li .nomeIte {
    font-size: 16px;
    font-weight: bold;

}

.ulCarrinho ul .price {
    font-size: 14px;

}
.divisao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 8px;
}
.final{
    display: flex;
    padding: 20px;
    background-color: #292929;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    flex-direction: column;
    width: 304px;
    margin-top: 5px;

}
.preco{
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: white;
}